@import "./abstracts/variables";

@import "./base/reset";
@import "./base/typography";

@import "./components/container";
@import "./components/authorization";
@import "./components/mini-games";
@import "./components/_sprint";
@import "./components/_audiocall";
@import "./components/ebook";

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

@import "./pages/mainPage";

@import "./layout/body";
@import "./layout/header";
@import "./layout/footer";
@import "./components/statistics";

body {
  margin: 0;
  padding: 0;
  background-color: rgba(223, 225, 238, 0.8);
  font-family: "Poppins", sans-serif;
}
