$color-bg-body: linear-gradient(to bottom right, #cbdcee 0%, #dfd3dc 100%);
$color-bg-body-inner-wrapper: rgba(255, 255, 255, 0.3);
$color-list-item-bg: rgba(255, 255, 255, 0.6);
$color-blackout: rgba(0, 0, 0, 0.4);

$color-text-dark: #242730;
$color-text-light: #ffffff;
$color-active-link: #ff7d1f;
$color-hover-button: #ffffff;

$shadow-list-item: 0px 4px 10px rgba(0, 0, 0, 0.25);
