.menu-burger__container {
    position: fixed;
    width: 100%;
    background: transparent;
    color: #000;
    opacity: 0.85;
    height: 50px;
    z-index: 12;
}

.menu-burger {
    display: block;
    position: relative;
    height: 64px;
    .hamburger-lines {
      display: block;
      height: 23px;
      width: 35px;
      position: absolute;
      top: 17px;
      left: 9px;
      z-index: 2;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
  }
  .line1 {
    transform-origin: 0% 0%;
    transition: transform 0.4s ease-in-out;
  }
  .line2 {
    margin-bottom: 6px;
    margin-top: 6px;
    transition: transform 0.2s ease-in-out;
  }
  .line3 {
    transform-origin: 0% 100%;
    transition: transform 0.4s ease-in-out;
  }
  .line {
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 10px;
    background: #333;
}
}

.menu-burger input[type="checkbox"] {
  position: absolute;
  display: block;
  height: 32px;
  width: 30px;
  top: 20px;
  left: 20px;
  z-index: 5;
  opacity: 0;
}


.menu-items {
    padding-top: 100px;
    background: #fff;
    height: 100vh;
    max-width: 300px;
    transform: translate(-150%);
    display: flex;
    flex-direction: column;
    margin-left: 5px;
    padding-left: 50px;
    transition: transform 0.5s ease-in-out;
    box-shadow: 5px 0px 10px 0px #aaa;
    li {
      margin-bottom: 1.5rem;
      font-size: 1.3rem;
      font-weight: 500;
    }
    a {
      text-decoration: none;
      color: #444;
      font-weight: 500;
      transition: color 0.3s ease-in-out;
      &:hover {
          color: #dfaab2;
          transition: color 0.3s ease-in-out;
      }
    }
  }
    .menu-items__active {
    color: #dfaab2 !important;
  }
  

  .menu-burger input[type="checkbox"]:checked ~ .menu-items {
    transform: translateX(0);
  }

  .menu-burger input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
    transform: rotate(35deg);
  }

  .menu-burger input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
    transform: scaleY(0);
  }

  .menu-burger input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
    transform: rotate(-35deg);
  }