.ebook-header {
    width: 80%;
    margin: 0 auto;
    padding: 0 20px;
    height: 50px;
    background-color: #3c365a;
    border-radius: 0 0 20px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ebook-header__mimi-games {
    display: flex;
    gap: 20px;
}

.sprint-game,
.audioCall-game {
    width: 115px;
    height: 35px;
    border-radius: 15px;
    border: 3px solid white;
    display: flex;
    align-items: center;
    transition: all 0.2s;

    &:hover {
        cursor: pointer;
        border: 3px solid hsl(250, 25%, 80%);

        .sprint-game__title,
        .audioCall-game__title {
            color: hsl(250, 25%, 80%);
        }
    }
}

.audioCall-game {
    width: 140px;
}

.sprint-game__img {
    height: 50px;
}

.audioCall-game__img {
    height: 35px;
}

.sprint-game__title,
.audioCall-game__title {
    color: white;
    transition: all 0.2s;
    font-size: 14px;
}

.pagenator {
    width: 275px;
    height: 10px;
    display: flex;
    align-items: center;
    position: relative;
}

.pagenator__page {
    position: relative;
    left: 120px;
    width: 30px;
    text-align: center;
    font-size: 22px;
    font-weight: 700;
    color: white;
}

.pagenator__page-btn {
    filter: grayscale(70%);
    height: 25px;
    position: absolute;
    transition: all 0.2s;

    &:hover {
        cursor: pointer;
        height: 30px;
    }
}

.pagenator__page-btn__first {
    left: 50px;

    &:hover {
        left: 48px;
    }
}

.pagenator__page-btn__prev {
    left: 95px;

    &:hover {
        left: 93px;
    }
}

.pagenator__page-btn__next {
    transform: rotate(180deg);
    left: 160px;

    &:hover {
        left: 158px;
    }
}

.pagenator__page-btn__last {
    left: 188px;

    &:hover {
        left: 186px;
    }
}

.header-menu {
    position: relative;
    width: 275px;
}

.header-menu__items {
    position: relative;
    z-index: 20;
    top: -18px;
    //left: -95px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 0.3s;

    &.active {
        top: 140px;

        .header-menu__item {
            position: relative;
            display: flex;
        }
    }

    .header-menu__item {
        height: 35px;
        border-radius: 40px;
        border: 3px solid rgb(166, 194, 251);
        justify-content: center;
        align-items: center;
        margin-bottom: 10px;
        position: absolute;
        display: none;
        transition: all 0.3s;

        .header-menu__item__link {
            transition: all 0.2s;
            color: rgb(236, 238, 255);
            font-size: 14px;
            font-weight: 700;
        }

        &:hover {
            cursor: pointer;

            .header-menu__item__link {
                font-size: 16px;
            }
        }

        &.active {
            display: flex;
        }
    }
}

.ebook__words {
    height: 85vh;
    padding: 40px 20px;
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    justify-content: center;
    overflow-y: auto;
}

.word-block {
    color: white;
    width: 400px;
    height: 350px;
    border-radius: 25px;
    position: relative;
    overflow: hidden;
}

.word-block__filter {
    position: absolute;
    z-index: 10;
    width: 100%;
    height: 200px;
}

.word-block__difficult-btn,
.word-block__learned-btn {
    border: white 3px solid;
    color: white;
    padding: 5px 10px;
    border-radius: 15px;
    margin-top: 10px;
    margin-left: 10px;
    transition: all 0.2s;

    &:hover {
        cursor: pointer;
        border: 3px solid hsl(250, 25%, 80%);
        color: hsl(250, 25%, 80%);
    }
}

.word-block__img-wrap {
    height: 200px;
    overflow: hidden;

    img {
        width: 100%;
    }
}

.word-block__info {
    position: relative;
    top: -70px;
    padding: 0 15px;
    overflow-y: auto;
    height: 200px;
    z-index: 10;
}

.info-block__word {
    color: white;
    font-size: 24px;
    margin: 0;
    padding: 0;
}

.info-block__word-trans {
    color: white;
    font-size: 18px;
    font-weight: 700;
}

.info-block__word-transcript {
    color: white;
    font-size: 18px;
    font-weight: 400;
    margin-left: 10px;
}

.info-block__voice-icon {
    width: 30px;
    height: 30px;
    margin-left: 15px;
    position: relative;
    border-radius: 25px;
    top: 8px;

    &:hover {
        cursor: pointer;
    }
}

.info-block__voice-icon__img {
    width: 30px;
    height: 30px;
}

.ebook p {
    color: white;
    margin: 0px;
    padding: 0px;
    margin-top: 5px;
    font-size: 14px;
}

.info-block__text-example {
    color: white;
}

.info-block__text-meaning {
    font-style: italic;
}

@media only screen and (max-width: 870px) {
    .ebook-header {
        flex-direction: column;
        justify-content: flex-start;
        gap: 20px;
        height: 130px;
        width: 400px;

        .header-menu__items {
            top: 0px;
        }
    }
}

@media only screen and (max-width: 480px) {
    .ebook-header {
        gap: 20px;
        height: 130px;
        width: 300px;

        .header-menu__items {
            top: 0px;
        }
    }

    .ebook__words {
        padding: 20px 0px;
    }

    .word-block {
        color: white;
        width: 300px;
        height: 350px;

    }


}