@mixin centralize() {
  margin-left: auto;
  margin-right: auto;
}

.sprint {
  &__container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background: linear-gradient(#9dcae7, #b6bcd3, #d0b2c0);

    h2 {
      font-size: 65px;
      padding-top: 10px;
      margin-top: 10px;
      text-align: center;
    }
    h3 {
      font-size: 40px;
      margin-top: 10px;
      margin-bottom: 5px;
    }
    h4 {
      font-size: 32px;
      margin-top: 10px;
    }
    .sprint-statistics__container {
      @include centralize();
      display: flex;
      justify-content: space-around;
      margin-right: 295px;
      span {
        font-size: 40px;
        font-weight: 700;
        color: #0fbe00;
      }
      .sprint-statistics-time {
        font-weight: 500;
        border: 2px solid #0fbe00;
        border-radius: 100%;
        padding: 15px;
      }
      .sprint-statistics-point {
        align-self: flex-end;
      }
    }

    .sprint-cart {
      @include centralize();
      display: flex;
      flex-direction: column;
      text-align: center;
      background: linear-gradient(0deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), rgba(149, 155, 165, 0.5);
      padding-bottom: 35px;
      padding-left: 50px;
      padding-right: 50px;
      margin-top: 10px;
      box-shadow: 10px 10px 80px rgba(63, 39, 102, 0.1);
      border-radius: 24px;
      button {
        font-size: 18px;
        color: white;
        width: 160px;
        padding-top: 10px;
        padding-bottom: 10px;
        @include centralize();
        border: none;
        border-radius: 25px;
      }
      .sprint-button {
        &__true {
          background: #0fbe00;
          &:hover {
            background: darken(#0fbe00, 10%);
            cursor: pointer;
          }
        }
        &__false {
          background: #981111;
          margin-right: 50px;
          &:hover {
            background: darken(#981111, 10%);
            cursor: pointer;
          }
        }
      }
      .sprint-question {
        display: block;
        font-size: 15px;
        font-weight: 700;
        margin-top: 60px;
        margin-bottom: 45px;
        color: rgba(0, 0, 0, 0.55);
        padding-bottom: 10px;
        margin-bottom: 12px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.55);
      }
    }
  }
  &-statistics__container {
    display: flex;
    justify-content: space-around;
    width: 40%;
  }
  &-dots {
    display: inline-block;
    background: #0fbe00;
    width: 18px;
    height: 18px;
    border-radius: 25px;
    margin-top: 30px;
    margin-left: 3px;
    margin-right: 3px;
  }
}

.word-audio {
  background: url("../assets/img/svg/word-audio.svg");
}
