@import "./../components/widget";

.stats-wrap {
    margin: 50px;
    display: grid;
    gap: 40px;
    grid-template-columns: 1fr 315px;
    grid-template-areas:
        "stats user"
        "stats links"
}

.stats {
    grid-area: stats;
}

.stats-block__header {
    text-align: center;
}

.widgets-container {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    gap: 40px;
}

.user-block {
    grid-area: user;
    height: 330px;
    position: relative;
}

.user-block__photo {
    width: 130px;
    height: 130px;
    border-radius: 100%;
    margin: 0 auto;
    position: relative;
    border: 5px solid white;
    background: conic-gradient(#FF8CC3, #FFBDA4, #8DF0FF, #FF8CC3);
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotate(60deg);

    img {
        transform: rotate(-60deg);
    }
}

.user-block__info {
    height: 235px;
    background-color: white;
    border-radius: 30px;
    display: table-cell;
    width: 315px;
    position: absolute;
    bottom: 0px;
    box-shadow: 0 0 30px rgb(136, 136, 136, 0.5);
}

.info-block__name {
    margin-top: 50px;
    text-align: center;
}

.info-block__email {
    margin-top: 10px;
    color: #959BA5;
    text-align: center;
}

.user-stats__container {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.user-stats__block {
    width: 130px;
    height: 90px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

}

.user-stats__header {
    text-align: center;
    color: #959BA5;
}

.user-stats__value {
    color: black;
    font-size: 32px;
}

.links-block {
    grid-area: links;
    width: 315px;
    height: 400px;
    background-color: rgb(255, 0, 0);
}