.widget {
    background-color: #ffffff;
    width: 220px;
    height: 155px;
    border-radius: 30px;
    padding: 25px 10px;
    position: relative;
    transition: all 0.3s;

    .mute-block {
        position: absolute;
        background-color: rgba(255, 255, 255, 0.95);
        width: 100%;
        height: 100%;
        top: 0px;
        left: 0px;
        border-radius: 30px;
        z-index: 10;
        display: none;

        img {
            width: 100px;
            position: relative;
            top: 25px;
            left: 60px;
        }
    }

    &.disabled {
        .mute-block {
            display: block;
        }
    }
}

.widget__header {
    font-size: 16px;
    color: #959ba5;
    text-align: center;
}

.widget-data {
    position: absolute;
    width: 150px;
    border-top: solid 1px #959ba5;
    top: 75px;
    left: 35px;
    text-align: center;
    padding-top: 5px;
}

.widget-data__unit {
    color: #959ba5;
    font-weight: 500;
}

.widget-data__value {
    color: black;
    display: block;
    font-size: 32px;
}

@media only screen and (min-width: 1920px) {
    .widget {
        width: 300px;
        height: 200px;

        .mute-block {
            img {
                top: 40px;
                left: 100px;
            }
        }
    }

    .widget-data {
        width: 170px;
        top: 100px;
        left: 65px;
        padding-top: 10px;
    }

    .widget__header {
        width: 250px;
        margin: 0 auto;
    }

}

@media only screen and (min-width: 1700px) and (max-width: 1919px)  {
    .widget {
        width: 270px;
        height: 180px;

        .mute-block {
            img {
                top: 35px;
                left: 90px;
            }
        }
    }

    .widget-data {
        width: 170px;
        top: 90px;
        left: 50px;
        padding-top: 10px;

    }

    .widget__header {
        width: 250px;
        margin: 0 auto;
    }

}