.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 25px 100px;

  .footer__copyright {
    width: 140px;
  }

  .developers-social-list {
    display: flex;
    align-items: center;
    gap: 50px;

    .developers-social-item .developers-social-item__link {
      color: $color-text-dark;

      transition: 0.2s;

      &:hover {
        color: $color-active-link;
      }
    }
  }

  .school-link .school-link__icon-wrapper {
    width: 140px;
    height: 50px;
  }
}
