.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 20px 100px;

  .logo {
    display: flex;
    align-items: center;
    gap: 25px;

    .logo__icon-wrapper {
      width: 57px;
      height: 50px;
    }

    .logo__title {
      font-size: 36px;
      font-weight: 400;
    }
  }

  .menu {
    .menu-list {
      display: flex;
      gap: 10px;

      .menu-item {
        .menu-item__link {
          position: relative;

          padding: 10px 10px;

          font-size: 20px;
          color: $color-text-dark;

          transition: 0.2s;

          &::after,
          &::before {
            content: "";
            position: absolute;
            left: 50%;
            top: 36px;

            width: 0%;
            height: 2px;

            background-color: $color-active-link;
            transition: 0.3s;
          }

          &:hover {
            color: $color-active-link;

            &::after {
              width: 45%;

              transform: translateX(-96%);
            }

            &::before {
              width: 45%;
            }
          }
        }
      }
    }
  }

  .account {
    display: flex;
    align-items: center;
    gap: 25px;

    .account__user-name {
      font-size: 16px;
    }

    .account__user-icon-wrapper {
      width: 40px;
      height: 40px;
    }

    .account__user-icon {
      position: relative;
      width: 40px;
      height: 40px;
      border: 2px solid #242730;
      border-radius: 50%;
    }

    .account__signin-button,
    .account__logout-button {
      height: 40px;
      padding: 0 30px;
      border: 2px solid $color-text-dark;
      border-radius: 20px;

      font: 400 16px Ubuntu, Arial, Tahoma, sans-serif;

      background: transparent;

      cursor: pointer;
      transition: 0.2s;

      &:hover {
        color: $color-text-light;

        background: $color-text-dark;
      }

      &:active {
        background-color: rgba(36, 39, 48, 0.7);
        transition: none;
      }
    }
  }
}
